@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
  font-family: Inter;
}

#submit {
  margin-top: 1rem;
  margin-bottom: 2rem;
  height: 3.5rem;
}

.logos {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.logos > img {
  margin-left:1rem;
}

#prediction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#predictiontext {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#hatchtext {
  font-weight:600;
  font-size: clamp(2rem, 3vw, 4rem); ;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-center {
  padding:0;
  margin:0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

